target
*.iml
*.ipr
*.iws
.idea
.DS_Store
.classpath
.ekstazi
.project
.settings
.checkstyle
*.log
id_file
*.epoch
.factorypath
.pmd
.sts4-cache
.vscode
*.code-workspace
*.swp
.flattened-pom.xml
.java-version
node_modules/
.camel-jbang
.camel-jbang-run
.mvn/.develocity/
